:root {
  --color-bg: #1E1E28;
  --color-label: hsl(237, 18%, 59%);
  --color-accent: hsl(345, 95%, 68%);
  --color-white: hsl(0, 0%, 100%);
  --color-dark-desaturated-blue: hsl(236, 21%, 26%);
  --color-dark-blue: hsl(235, 16%, 14%);
  --color-very-dark-blue: hsl(234, 17%, 12%);
  --color-top-bg: hsla(236, 21%, 26%, 0.6);
  --color-top-accent: hsla(345, 95%, 68%, 0.6);
  --color-bottom-bg: hsla(236, 21%, 26%, 1);
  --color-bottom-accent: hsla(345, 95%, 68%, 1);
  background-color: var(--color-bg);
  font-family: "Red Hat Text", serif;
  text-transform: uppercase;
}

body {
  height: calc(100vh - 200px);
  background-image: url('./images/bg-stars.svg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

h1 {
  font-size: x-large;
  color: var(--color-white);
}

h1,
p.label {
  letter-spacing: 6px;
}

main {
  margin-top: 48px;
  display: flex;
  gap: 36px;
  flex-wrap: wrap;
}

p {
  color: var(--color-label);
}

footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 600px;
  overflow: hidden;
  background-image: url('./images/pattern-hills.svg');
  background-size: cover;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

.footer-icon {
  height: 32px;
  width: 32px;
  cursor: pointer;
  fill: var(--color-label);
}

.footer-icon:hover,
.footer-icon:focus,
.footer-icon:active {
  fill: var(--color-accent);
}

.calendar-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 150px;
  box-shadow: 0px 12px 4px var(--color-very-dark-blue);
}

.card>* {
  display: flex;
  height: 50%;
  line-height: 0;
  font-size: 76px;
  justify-content: center;
  color: var(--color-accent);
  position: relative;
}

.top {
  top: 0;
  z-index: 1;
  align-items: flex-end;
  background-color: var(--color-top-bg);
  color: var(--color-top-accent);
  border-radius: 8px 8px 0px 0px;
  transform-origin: center bottom;
  overflow: hidden;
}

.bottom {
  bottom: 0;
  overflow: hidden;
  align-items: flex-start;
  background-color: var(--color-bottom-bg);
  border-radius: 0px 0px 8px 8px;
  color: var(--color-bottom-accent);
  transform-origin: center top;
}

.card::before,
.card::after {
  z-index: 10;
  position: absolute;
  content: '';
  top: 50%;
  transform: translateY(-50%);
  height: 12px;
  width: 8px;
  background-color: var(--color-very-dark-blue);
}

.card::before {
  left: 0;
  border-radius: 0 100% 100% 0;
}

.card::after {
  right: 0;
  border-radius: 100% 0 0 100%;
}

.z0 {
  z-index: 0;
}

.z2 {
  z-index: 2;
}

.new {
  position: absolute;
  height: 50%;
  width: inherit;
}

.deg90neg {
  transform: rotateX(-90deg);
}

.upflip {
  animation: upflip 0.2s linear forwards;
}

.downflip {
  animation: downflip 0.2s linear forwards;
  animation-delay: 0.2s;
}

@keyframes upflip {
  0% {
    transform: rotateX(0deg);
  }

  100% {
    transform: rotateX(90deg);
  }
}

@keyframes downflip {
  0% {
    transform: rotateX(-90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}